# hd_backend runs on port 3000
NEXT_PUBLIC_API_URL=https://backend-jc8p.onrender.com/api

# Cloudinary (product image uploads) – get API secret from dashboard
CLOUDINARY_CLOUD_NAME=dhtrgfrqz
CLOUDINARY_API_KEY=471746622146814
CLOUDINARY_API_SECRET=Luz2X-kt6RXAIEMNrrZNOJC9sR8
