@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #f3f4f6;
  overflow-x: hidden;
}

/* Prefer 16px inputs on iOS to avoid zoom-on-focus */
@layer base {
  input,
  select,
  textarea {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    input,
    select,
    textarea {
      font-size: inherit;
    }
  }
}
